<% if resource.errors.any? %>
  <ul class="list-disc">
    <% resource.errors.full_messages.each do |message| %>
      <li class="text-red-600 text-sm"><%= message %></li>
    <% end %>
  </ul>
<% end %>
